<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/ikariam.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <nav>
        <div class="nav-wrapper light-blue darken-1">
            <a href="/"><img class="brand-logo responsive-img" src="img/" style="padding: 4;"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><img src="<%= profile.profilePic %>" style="height:50px;width:70px;margin-bottom:-30%;"></li>
                <li><a href="/chat">Chat</a>
                </li>
                <li><a href="#!">Foro</a>
                </li>
                <li><a href="#!">Herramientas</a>
                </li>
                <li><a class="dropdown-button light-blue" href="#!" data-activates="dropdown1">Bienvenido, <%= profile.username %><i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="/profile">Perfil</a></li>
                  <li class="divider"></li>
                  <li><a id="logout">Salir</a></li>
                </ul>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/play">Play</a></li>
                <li><a id="btn-logout">Logout</a></li>

            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <!--  -->
            <div class="col l12 m12 s12">
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th data-field="name">Imagen de Perfil</th>
                            <th data-field="id">Usuarios</th>
                            <th data-field="name">Correo</th>
                            <th data-field="name">Admin</th>
                            <th data-field="name"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i< userlist.length ; i++) {%>
                            <tr>
                                <th>
                                    <image class="responsive-img" src="<%= userlist[i].profilePic %>" style="height:50px;width:70px;margin-left:15%;" />
                                </th>
                                <th>
                                    <%= userlist[i].username %>
                                </th>
                                <th>
                                    <%= userlist[i].email %>
                                </th>
                                <th>
                                    <%= !userlist[i].admin ? 'No' : 'Sí'; %>
                                </th>
                                <th>
                                    <button id="<%= userlist[i].username %>" class="btn rmv-btn">Kick</button>
                                </th>
                            </tr>
                            <% } %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Echar de la comunidad</h4>
            <h2 class="user2rmv" style="color:red;"></h2>
            <p>Si aceptas expulsarle de la comunidad, serán borrado todos sus datos personales</p>
        </div>
        <div class="modal-footer">
            <a id="acept-rmv" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Acepto</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
        </div>
        <form id="form-rmv" action "/admin" method="POST">
            <input id="input-rmv" name="user" hidden></input>
        </form>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src="/js/libs/materialize.js"></script>
    <script src="/js/views/admin.js"></script>
    <script src="/js/views/logout.js"></script>
    <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false,
            hover: true,
            gutter: 0,
            belowOrigin: true,
            alignment: 'right'
        });
    </script>
    <script>
        $(".button-collapse").sideNav();
    </script>


</body>

</html>
