<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/spectrum.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
    <nav>
        <div class="nav-wrapper light-blue darken-1">
            <a href="/"><img class="brand-logo responsive-img" src="img/" style="padding: 4;"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><img src="<%= profile.profilePic %>" style="height:50px;width:70px;margin-bottom:-30%;"></li>
                <li><a href="/chat">Chat</a>
                </li>
                <li><a href="#!">Foro</a>
                </li>
                <li><a href="#!">Herramientas</a>
                </li>
                <li><a class="dropdown-button light-blue" href="#!" data-activates="dropdown1">Bienvenido, <%= profile.username %><i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <!-- Dropdown Structure -->
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="/profile">Perfil</a></li>
                  <li class="divider"></li>
                  <li><a id="logout">Salir</a></li>
                </ul>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/play">Play</a></li>
                <li><a id="btn-logout">Logout</a></li>

            </ul>

        </div>
    </nav>

    <div class="container" style="margin-top:5%; margin-bottom:5%; height: 100%; ">
        <!-- Page Content goes here -->
        <div class="row">

            <!-- Columna izquierda del contenido -->
            <div class="col l8 m6 s8">
                <div id="chatparent" class="z-depth-1" style="height: 60%">
                    <div id="chat">
                        <ul id="messages"></ul>
                    </div>
                </div>
                <form action="">
                    <input id="m" autocomplete="off" /><button class="waves-effect waves-light btn">Enviar</button>
                    <input type='text' id="custom" />
                </form>
            </div>

            <!-- Columna derecha del contenido -->
            <div class="col l4 m6 s4">
                <div class="z-depth-2" style="height: 30%; padding:5%;">
                    <div id="connectedusers" style="height: 100%;border: 1px solid #ccc; border-radius:16px;">
                        <span style="margin:auto;display:table; font-style:italic;">Usuarios conectados</span>
                        <ul id="userlist"></ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/js/libs/materialize.js"></script>
    <script src="/js/libs/spectrum.js"></script>
    <script src="/js/views/logout.js"></script>
    <script src="/js/views/chat.js"></script>

    <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false,
            hover: true,
            gutter: 0,
            belowOrigin: true,
            alignment: 'right'
        });
    </script>
    <script>
        $(".button-collapse").sideNav();
    </script>



</body>

</html>
