<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/ikariam.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>

<body>

<!--<div class="divContenedorFoto">
        <img class="responsive-img" src="img/bg-logo4.png">
    </div> -->

    <div class="signup__container z-depth-1">

        <div class="container__child signup__form">
            <form id="login" action="/" method="post">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input class="form-control" type="text" name="userLogin" id="username" maxlength="10" required />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" name="passLogin" id="password" maxlength="12" required />
                </div>
                <div class="form-group">
                    <div class="m-t-lg">
                        <ul class="list-inline" style="text-align:center;">
                            <li>
                                <input class="btn1" type="submit" value="Entrar" />
                            </li>
                        </ul>
                    </div>
                </div>

            </form>
            </div>
        </div>

        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Sesión cerrada</h4>
            </br>
            <p>Su sesión ha sido cerrada debido a que se ha iniciado sesión desde otro dispositivo</p>
          </div>
          <div class="modal-footer">
            <p class="modal-action modal-close waves-effect waves-green btn-flat">Vale</p>
          </div>
        </div>

        <% if(session == 'removed') { %>
          <input type="hidden" id="sess" value="<%=session%>" />
        <% } %>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="/js/libs/materialize.min.js"></script>
        <script src="/js/libs/jquery.form.js"></script>
        <script src="/js/views/login.js"></script>



</body>

</html>
